<ion-view class="inbox" view-title="Inbox">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Today
        <i class="ion-checkmark"></i>
      </div>
      <div class="email-group">
      	<a class="item item-avatar item-email" href="#">
  	      <img src="./img/ionic-logo.png">
  	      <h2 class="subject">Ionic Framework</h2>
  	      <p class="participants">Ionic Team, me</p>
  	      <p>Yeah, it's an awesome framework! If only I actually knew what I was doing</p>
  	    </a>
      </div>
    </div>
  </ion-content>
</ion-view>
