<ion-side-menus enable-menu-with-back-views="false">
  <script type="text/javascript">
    // Cache queries 
    var btn_group_large = $(".btn-group");
    var btn_group_small = $(".btn-group-small");
    var btn_small       = $(".small");
    var compose_btn     = $(".btn-compose");
    var overlay         = $('.compose-overlay');

    // Reversing the order of the .small nodes so we can animate up and down on hover
    var btn_small_reverse = $((btn_small).get().reverse());

    $(document).ready(function(){
        function initAnim() {
          btn_small_reverse.each(function(i){
            var button = $(this);
            setTimeout(function() {
                button.addClass('animated');
            },50*i);
          });
        }

        function reverseAnim() {
          btn_small.each(function(i){
            var button = $(this);
            setTimeout(function() {
                button.removeClass('animated');
            },50*i);
          });
        }

        overlay.on('click', function() {
          if ( $(this).hasClass('show') ) {
            $(this).removeClass('show');
            reverseAnim();
          }
        })

        compose_btn.on('click', function() {
          if ( overlay.hasClass('show') ) {
            btn_group_large.removeClass('activated');
            overlay.removeClass('show');
            reverseAnim();
          } else {
            btn_group_large.addClass('activated');
            overlay.addClass('show');
            initAnim();
          }
        });
                 
    });
  </script>
  <div class="btn-group cta" ng-class="fabActive ? 'activated' : '' ">
      <div class="btn-group-small">
          <div class="btn small contact-img obama">
              <label class="btn-label">
              <div class="btn-tooltip" data-tooltip="Barack Obama">Barack Obama</div>
              <button></button>
          </label>
          </div>
          <div class="btn small contact name mom">
              <label class="btn-label">
              <div class="btn-tooltip" data-tooltip="Mom">Mom</div>
              <button>M</button>
          </label>
          </div>
          <div class="btn small blue reminder">
              <label class="btn-label">
              <div class="btn-tooltip" data-tooltip="Reminder">Reminder</div>
              <button></button>
          </label>
          </div>
          
      </div>
      <div class="btn main compose" ng-click="toggleComposeOverlay()">
          <label class="btn-label">
              <div class="btn-tooltip" data-tooltip="Compose">Compose</div>
              <button class="btn-compose">
                     <img class="pen hidden" src="//ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/bt_compose2_2x.png" jstcache="0">
                     <img class="plus visible" src="//ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/bt_speed_dial_2x.png" jstcache="0">
              </button>
          </label>
      </div>
  </div>

  <div class="compose-overlay" ng-class="fabActive ? 'show' : ''"></div>
  
  <div class="overlay" ng-class="isMenuOpen ? 'show' : ''" ng-click="closeMenu()"></div>
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <label ng-click="console.log('rawr')" class="toggle toggle-inbox">
           <input type="checkbox">
           <div class="track">
             <div class="handle">
             <svg class="thumbtack" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"><g><path fill="#FFFFFF" d="M62.2,19.3L44.7,1.8c-1.4-1.4-3.6-1.4-4.9,0l-5.6,5.6c-0.7,0.7-1,1.5-1,2.5c0,0.8,0.3,1.7,0.9,2.3l-5.7,5.7   c-1.5-0.3-3.1-0.5-4.7-0.5c-6.2,0-11.9,2.4-16.3,6.8C6,25.4,6,27.6,7.3,29l11.4,11.4L1.8,57.3c-1.4,1.4-1.4,3.6,0,4.9   c0.7,0.7,1.6,1,2.5,1s1.8-0.3,2.5-1l16.9-16.9L35,56.7c0.7,0.7,1.6,1,2.5,1c0.9,0,1.8-0.3,2.5-1c5.5-5.5,7.8-13.4,6.3-21l5.7-5.7   c1.4,1.2,3.5,1.1,4.8-0.2l5.6-5.6c0.7-0.7,1-1.5,1-2.5C63.3,20.9,62.9,20,62.2,19.3z"></path></g></svg>
             </div>
           </div>
        </label>
        <button class="button button-icon button-clear button-small ion-ios-search-strong">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" ng-class="isMenuOpen ? 'menu-open' : 'menu-closed'">
    <ion-header-bar class="bar-personalized">
      <!-- <h1 class="title">Left</h1> -->

        <img class="avatar" src="https://pbs.twimg.com/profile_images/486132305069477891/aUnjJ9LM.jpeg" alt="">

      <div class="about-me">
        <h2 class="name">Matt Rothenberg</h2>
        <p class="email">mattrothenberg@gmail.com</p>
        <i class="arrow-down ion-arrow-down-b"></i>
      </div>
    </ion-header-bar>
    <ion-content class="side-menu-content">
      <ion-list class="inbox-list">
        <ion-item class="inbox-item item-icon-left inbox active"> 
          <i class="icon ion-pin"></i>
          Inbox
        </ion-item>
        <ion-item class="inbox-item item-icon-left snoozed"> 
          <i class="icon ion-android-time"></i>
          Snoozed
        </ion-item>
        <ion-item class="inbox-item item-icon-left done"> 
          <i class="icon ion-checkmark"></i>
          Done
        </ion-item>
        <hr>
        <ion-item class="inbox-item item-icon-left"> 
          <i class="icon ion-android-mail"></i>
          Drafts
        </ion-item>
        <ion-item class="inbox-item item-icon-left"> 
          <i class="icon ion-android-send"></i>
          Sent
        </ion-item>
        <ion-item class="inbox-item item-icon-left"> 
          <i class="icon ion-stop"></i>
          Reminders
        </ion-item>
        <ion-item class="inbox-item item-icon-left"> 
          <i class="icon ion-trash-b"></i>
          Trash
        </ion-item>
        <ion-item class="inbox-item item-icon-left"> 
          <i class="icon ion-stop"></i>
          Spam
        </ion-item>
        <hr>
        <p class="label">Unbundled</p>
        <ion-item class="inbox-item item-icon-left"> 
          <i class="icon ion-stop"></i>
          Name of Label
        </ion-item>
        <ion-item class="inbox-item item-icon-left"> 
          <i class="icon ion-stop"></i>
          Name of Label
        </ion-item>
        <ion-item class="inbox-item item-icon-left"> 
          <i class="icon ion-stop"></i>
          Name of Label
        </ion-item>
        <ion-item class="inbox-item item-icon-left"> 
          <i class="icon ion-stop"></i>
          Name of Label
        </ion-item>
        <ion-item class="inbox-item item-icon-left"> 
          <i class="icon ion-stop"></i>
          Name of Label
        </ion-item>
        <ion-item class="inbox-item item-icon-left"> 
          <i class="icon ion-stop"></i>
          Name of Label
        </ion-item>
        <ion-item class="inbox-item item-icon-left"> 
          <i class="icon ion-stop"></i>
          Name of Label
        </ion-item>
        <ion-item class="inbox-item item-icon-left"> 
          <i class="icon ion-stop"></i>
          Name of Label
        </ion-item>
        <ion-item class="inbox-item item-icon-left"> 
          <i class="icon ion-stop"></i>
          Name of Label
        </ion-item>
        <ion-item class="inbox-item item-icon-left"> 
          <i class="icon ion-stop"></i>
          Name of Label
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
